<div class="checkout_sidebar">
    <h3 class="title">Mã khuyến mãi</h3>    
    <div class="checkout_tr mb20 voucher_box">

        <div class="form-group voucher voucher_apply">
            <input type="text" class="form-control color_green" style="margin-bottom: 0px;" id="txt_voucher" placeholder="Chọn hoặc nhập mã..." name="voucher_choice">
            <button class="btn agray btn-apply-voucher apply" style="right:113px;">Áp dụng</button>
            <a onclick="alert('Tính năng này đang được phát triển');" class="color_green select"><b>Lấy mã giảm giá</b></a>
        </div>
        <div class="voucher_success flex"></div>

    </div>
</div>

<script src="~/js/voucher/default.js"></script>