<div class="notifi-popup white-popup medium-popup">
    <div class="content_poup">
        <p class="alert_msg"></p>
        <div class="text-right"><button class="btn txt_14">OK</button></div>
    </div>
</div>