<div class="notifi-popup white-popup medium-popup">
    <div class="content_poup">
        <p class="mb30">Bạn có chắc muốn xóa địa chỉ này</p>
        <div class="control_btn row">
            <div class="col-xs-6"><button class="btn full">Xóa</button></div>
            <div class="col-xs-6"><button class="btn full agray">Trở lại</button></div>
        </div>
    </div>
</div>