<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="schedule_time_minute" value="10" />
		<add key="path_file_export" value="E:\DATAFEED" />
		<add key="API_US_NEW" value="http://api.usexpressvn.com" />		
		<add key="keyTokenApi" value="5fDmJ8Ze" />
		<add key="telegram_botToken" value="1264151832:AAFKCM7CoaBerVhcYCHQba1AyY13X41rT5s" />
		<add key="telegram_group_Id" value="-425248810" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>