@using Entities.ViewModels;
@model List<AddressModel>
@{
    ViewData["Title"] = "Địa chỉ giao hàng";
    Layout = "_Layout";
}

<style>
    .header-block {
        display: none;
    }

    .header-block-pay {
        display: block;
    }
</style>
<link href="~/css/order.css" rel="stylesheet" />

@{ await Html.RenderPartialAsync("PartialView/Payment/headerPayment"); }

<section class="main-container clearfix mt30">
    <div class="container">
        <div class="page-buy">
            <div class="bg_warp">
                <h2 class="txt_22 medium mb30 txt_000">Địa chỉ giao hàng</h2>

                @{ await Html.RenderPartialAsync("PartialView/Client/AddressManager",Model); }              

            </div>
        </div>
    </div>
</section>


