<div class="box-thuong-hieu mb25 flex">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-1.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-2.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-3.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-4.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-5.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-6.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-7.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-8.png">
                </span>
            </a>
            <a class="item swiper-slide" href="/">
                <span class="ava">
                    <img src="~/images/thuong-hieu/th-9.png">
                </span>
            </a>
        </div>
    </div>
</div>