@using Entities.ViewModels;

<div class="bg_warp ct_nhacc mb20 ajax_waiting">
    <h2 class="title-label">Nhà cung cấp nổi bật</h2>
    <div class="built-toggle">
        <table class="table">
            <thead>
                <tr>
                    <th>Nhà cung cấp</th>
                    <th>Đánh giá</th>
                    <th>Tình trạng hàng</th>
                    <th>Thời gian nhận hàng</th>
                    <th>Giá bán</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex ajax_waiting">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>
                <tr>
                    <td class="nhacc">
                        <a href="">GOOVERSTOCK</a>
                    </td>
                    <td class="danhgia">
                        <div class="ct_star flex">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#star-full"></use>
                            </svg>
                            <span>90% tích cực</span>
                        </div>
                    </td>
                    <td>Mới nguyên sale</td>
                    <td>
                        10-15 ngày
                    </td>
                    <td class="giabn">
                        <strong class="price color_green">24.450.000 đ</strong></br>
                        <a class="add-to-cart" href="">Mua ngay</a>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div class="view-full"><a href="javascript:;">Xem tất cả</a></div>
</div>