<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QUEUE_HOST" value="103.74.121.128" />
		<add key="QUEUE_V_HOST" value="usexpress" />
		<add key="QUEUE_USERNAME" value="usexpress" />
		<add key="QUEUE_PASSWORD" value="Us123456" />
		<add key="QUEUE_PORT" value="5672" />
		<add key="QUEUE_NAME" value="log_front_end" />
		<add key="QUEUE_KEY_API" value="AAFKCM7CoaBerVhcYCHQba1AyY13X41rT5s" />
		<add key="STATUS_TELE_PUSH" value="1" />
		<add key="STATUS_ELASHTIC_PUSH" value="0" />
		<add key="STATUS_LOGDB_PUSH" value="0" />
		<add key="PUSH_QUEUE_KEY_TOKEN_API" value="5fDmJ8Ze" />



	</appSettings>

	
</configuration>