@{
    ViewData["Title"] = "Gian hàng Costco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/css/costco.css" rel="stylesheet" type="text/css" />
<!-- MAIN CONTAINER -->
<section class="bg-landingpage clearfix">
    <div class="container">
        <div class="menu_control">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/store/costco">Costco</a></li>
                </ul>
            </div>
        </div>
        <div class="center mb20">
            <img src="/images/graphics/costco.png" title="amz">
        </div>
        <div class="live-ldp flex mb40">
            <div class="wrap-live">
                <!-- <img src="/images/graphics/live.jpg" title="amz"> -->
                <div class="thumb_img thumb_video media_top">
                    <img src="~/images/graphics/Banner-web-Slide-Costco-Tet-560x310.png"/>
                </div>
            </div>
            <div class="Store-Costco-product_top_right">
                <div class="list-live">
                    <div class="scrollbar-inner">
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="product-item">
                                <div class="thumb placeholder">
                                    <a class="ava" href="">
                                        <img src="/images/graphics/sanpham2.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <h3 class="title placeholder"><a href="#" title="usexpress.vn"></a></h3>
                                    <div class="price placeholder"></div>
                                </div>
                                <div class="flex-bottom placeholder">
                                    <div class="sl_giohang">
                                        <span>Số lượng :</span>
                                        <div class="input-group-prepend">
                                            <button class="giam_sl" id="minus-btn">-</button>
                                        </div>
                                        <input type="text" id="qty_input" class="qty_input" value="1" min="1">
                                        <div class="input-group-prepend">
                                            <button class="tang_sl" id="plus-btn">+</button>
                                        </div>
                                    </div>
                                    <a class="btn buy">
                                        ĐẶT MUA
                                        <svg class="icon-us">
                                            <use xlink:href="/images/icons/icon.svg#next1"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="Store-Costco-product_slide">
            <div class="slide_sale mb40">

                <div class="head-title flex">
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="swiper-slide">
                                <div class="product-item">
                                    <a class="ava placeholder" href="">
                                    </a>
                                    <div class="content">
                                        <div class="ct_star placeholder" style="height: 15px;">
                                        </div>
                                        <h3 class="title placeholder" style="height: 40px;"></h3>
                                        <div class="flex placeholder" style="height:15px"></div>
                                        <a class="brand_label placeholder" style="height:15px"></a>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <!-- Add Scrollbar -->
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <div class="box-thuong-hieu mb25 flex">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-1.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-2.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-3.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-4.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-5.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-6.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-7.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-8.png">
                        </span>
                    </a>
                    <a class="item swiper-slide" href="#">
                        <span class="ava">
                            <img src="/images/thuong-hieu/th-9.png">
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="box-ads-home mb25">
            <div class="flex">
                <a class="item" href="#">
                    <img src="/images/graphics/ads1.png">
                </a>
                <a class="item" href="#">
                    <img src="/images/graphics/ads2.png">
                </a>
            </div>
        </div>

        <div class="box-quan-tam bg_warp mb25 Store-Costco-product_all">
            <!-- <div class="head-title head-title2 flex">
                <h2 class="title_category">Tất cả sản phẩm</h2>
            </div> -->

            <div class="head-title head-title2 flex">

                <!-- <div class="option">
                    <a class="view-all" href="">Xem tất cả</a>
                </div> -->
            </div>

            <div class="list-product flex">
                @for (int i = 0; i < 10; i++)
                {
                    <div class="product-item col-5">

                        <a class="ava placeholder" href="/">
                            <img src="/images/graphics/sanpham1.png">
                        </a>
                        <div class="content">
                            <div class="ct_star placeholder">
                                <svg class="icon-us"><use xlink:href="/images/icons/icon.svg#star-full"></use></svg>
                                <svg class="icon-us"><use xlink:href="/images/icons/icon.svg#star-full"></use></svg>
                                <svg class="icon-us"><use xlink:href="/images/icons/icon.svg#star-full"></use></svg>
                                <svg class="icon-us"><use xlink:href="/images/icons/icon.svg#star-full"></use></svg>
                                <svg class="icon-us"><use xlink:href="/images/icons/icon.svg#star-full"></use></svg>
                                <span class="buy"></span>
                            </div>
                            <h3 class="title placeholder"><img src="/images/icons/prime.png" title="amz"><a href="#" title=""></a></h3>
                        </div>
                    </div>
                }
            </div>

            <ul id="pagination" class="pagination mt20 placeholder">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#prev2"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>


    </div>
</section>

<script src="~/js/store/costco.js"></script>

<!-- END MAIN CONTAINER -->
