@using Entities.ViewModels;
@model ClientChangePasswordViewModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "_Layout";
}
<section class="main-container clearfix mt30">
    <div class="menu_control mb20">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Đổi mật khẩu</li>
            </ul>
        </div>
    </div>
    <div class="container page-payer">
        <div class="bg_warp bg_changer_pass mb25">
            <div class="text_line margin">
                <svg class="icon-us">
                    <use xlink:href="/images/icons/icon.svg#padlock"></use>
                </svg>Lấy lại mật khẩu
            </div>
            <p class="mb20">Nếu bạn chưa có tài khoản hãy <a href="#login-popup" class="color_green2 open-popup-link load-login">đăng ký</a></p>
            <div class="row">

                
                    <form id="frm_client_change_pass"
                          class="form form_default col-md-5 frm_client_change_pass"
                          asp-controller="Client"
                          asp-action="SubmitChangePassword"
                          asp-antiforgery="true"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-begin="beginClientChangePassResponse"
                          data-ajax-complete="completeClientChangePassResponse">
                        <div class="form-group icon-visible">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#mail"></use>
                            </svg>

                            <input type="text" class="form-control" asp-for="Email" placeholder="Nhập địa chỉ Email" name="Email">
                            <span asp-validation-for="Email" class="error text-danger" placeholder="Nhập địa chỉ Email"></span>

                        </div>
                        <div class="form-group icon-visible">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#padlock"></use>
                            </svg>

                            <input type="password" asp-for="PasswordNew" class="form-control" id="txt_c_password_new" placeholder="Mật khẩu từ 6 đến 100 ký tự" name="PasswordNew" autocomplete="off">
                            <span asp-validation-for="PasswordNew" class="error text-danger"></span>

                        </div>
                        <div class="form-group icon-visible">
                            <svg class="icon-us">
                                <use xlink:href="/images/icons/icon.svg#padlock"></use>
                            </svg>
                            <input type="password" asp-for="ConfirmPasswordNew" class="form-control" id="txt_c_confirm_password" placeholder="Nhập lại mật khẩu mới" name="ConfirmPasswordNew" autocomplete="off">
                            <span asp-validation-for="ConfirmPasswordNew" class="error text-danger"></span>
                        </div>
                        @*<div class="form-group capcha">
                                <span class="img_capcha"><img src="images/graphics/capcha.png" title="amz"></span>
                                <input type="" class="form-control" placeholder="Nhập mã CAPCHA" name="">
                            </div>*@
                        <div class="control_btn">
                            <a class="btn cancel green">Nhập lại</a>
                            <button class="btn confirm">Xác nhận</button>
                        </div>
                    </form>
               

            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    var form = $("#frm_client_change_pass").closest("form");
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);

    function beginClientChangePassResponse() {

    }
    function completeClientChangePassResponse(response) {        
        obj_general.alert(response.responseJSON.msg);
    }

    $(document.body).on('click', '.btn_destroy', function (e) {       
        window.location.href = "/";
    });
</script>