<section class="main-container clearfix mt30">
    <div class="menu_control mb20">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">Đổi mật khẩu</li>
            </ul>
        </div>
    </div>
    <div class="container page-payer">
        <div class="bg_warp bg_changer_pass mb25">
            <div class="text_line margin">
                <svg class="icon-us">
                    <use xlink:href="#padlock"></use>
                </svg>Lấy lại mật khẩu
            </div>
            <p class="mb20">Nếu bạn chưa có tài khoản hãy <a href="#login-popup" class="color_green2">đăng ký</a></p>
            <div class="row">
                <div class="col-md-5">
                    <div class="bg_notifi1">
                        Link thay đổi mật khẩu không đúng hoặc đã hết hiệu lực. Để thay đổi vui lòng click
                        vào <a href="#login-popup" class="color_green2">đây</a> để
                        lấy link khởi tạo mật khẩu
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>