@using WEB.UI.ViewModels;
@model ForgotPasswordViewModel

<form id="frm_client_forgot"
      class="form frm_client_forgot"
      asp-controller="Client"
      asp-action="ForgotPassword"
      asp-antiforgery="true"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="beginClientForgotResponse"
      data-ajax-complete="completeClientForgotResponse">

    <h3 class="txt_22 medium mb10">Quên mật khẩu</h3>
    <p class="mb20">Bạn hãy nhập địa chỉ Email để lấy lại mật khẩu</p>
    <div class="form-group icon-visible">
        <svg class="icon-us">
            <use xlink:href="images/icons/icon.svg#mail"></use>
        </svg>
        <input type="text" class="form-control" asp-for="EmailFogot" placeholder="Nhập địa chỉ Email" name="EmailFogot">
        <span asp-validation-for="EmailFogot" class="error text-danger email_forgot_error"></span>
    </div>
    <button class="btn bg-green" type="submit">Xác nhận</button>
    <a class="btn agray load-login">Quay lại</a>

</form>
<script type="text/javascript">
    var form = $("#frm_client_forgot").closest("form");
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);
</script>