<div class="checkout_sidebar">    
    <a href="#" class="edit btn_edit_address open-popup-link" data-addressid="-1">
            <svg class="icon-us">
                <use xlink:href="~/images/icons/icon.svg#edit"></use>
            </svg>Sửa
        </a>
        <h3 class="title">THÔNG TIN GIAO HÀNG</h3>
        <div class="checkout_tr info_delivery">
            <div class="item placeholder">
                <p class="txt_666">Họ tên khách hàng :</p>
                <div class="delivery_name"></div>
            </div>
            <div class="item placeholder">
                <p class="txt_666">Số điện thoại :</p>
                <span class="delivery_phone"></span>
            </div>
            <div class="item placeholder">
                <p class="txt_666">Địa chỉ :</p>
                <span class="delivery_address"></span>
            </div>
        </div>
</div>
