<header class="header-block header-block-pay">
    <div class="container flex">
        <div class="header-block_1">
            <a class="logo" href="/"><img src="~/images/graphics/logo.svg" title="amz"></a>
        </div>
        <div class="step-pay">
            <ul>
                <li id="step_choice_address" class="active">
                    <a class="logo" href="/account/address">
                        <img src="~/images/icons/icon-map.svg" title="amz">
                        <img class="focus" src="~/images/icons/icon-map-active.svg" title="amz">
                        <span>Thông tin giao hàng</span>
                    </a>
                </li>

                <li id="step_payment">
                    <a class="logo" href="/payment/checkout">
                        <img src="~/images/icons/icon-payer.svg" title="amz">
                        <img class="focus" src="~/images/icons/icon-payer-active.svg" title="amz">
                        <span>Thanh toán</span>
                    </a>
                </li>
                <li id="step_confirm_payment">
                    <a class="logo">
                        <img src="~/images/icons/icon-confirm.svg" title="amz">
                        <img class="focus" src="~/images/icons/icon-confirm-active.svg" title="amz">
                        <span>Xác nhận</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

