<div class="bg_left step2 mb30">
    <div class="nav_setting">
        <a class="payment_type active" href="#tab-atm" data-type="5">
            <svg class="icon-us">
                <use xlink:href="~/images/icons/icon.svg#atm-card"></use>
            </svg>
            Thẻ ATM nội địa
        </a>
        <a class="payment_type" href="#tab-tindung" data-type="6">
            <svg class="icon-us">
                <use xlink:href="~/images/icons/icon.svg#visa"></use>
            </svg>
            Thẻ tín dụng/Thẻ ghi nợ
        </a>
        <a class="payment_type" href="#tab-vidt" data-type="1">
            <svg class="icon-us">
                <use xlink:href="~/images/icons/icon.svg#send_bank"></use>
            </svg>
            Chuyển khoản trực tiếp
        </a>
    </div>
    <div class="content_setting">
        <!-- Tab ngân hàng -->
        <div id="tab-atm" class="tab-content">
            <div class="b3_nhtt">
                <ul class="list_bank_atm">
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_16.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_16.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_16.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_16.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_16.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                    <li>
                        <a class="placeholder"><img src="~/images/nganhang/nhang_6.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tab-tindung" class="tab-content" style="display: none">
            <div class="master_choise">
                <div class="atm"><img src="~/images/nganhang/VisamasterCard.png" alt=""></div>
                <p>Bạn đang sử dụng hình thức thanh toán</br>Thẻ tín dụng/Thẻ ghi nợ</p>
            </div>
        </div>
        <div id="tab-vidt" class="tab-content" style="display: none">
            <div class="send_bank">
                <h3 class="txt_15 mb5">HƯỚNG DẪN CHUYỂN KHOẢN TRỰC TIẾP</h3>
                <p class="txt_666 mb20">Vui lòng click chọn một ngân hàng bên dưới, sau đó bấm nút thanh toán để xem chi tiết chuyển khoản:</p>
                <div class="b3_nhtt">
                    <ul>
                        <li class="usexpress_banks" data-code="TCB">
                            <a><img src="https://payoo.vn/v2/img/banks-logo-new/tcb.png" alt="TechcomBank"></a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


