<html>
<head>
    <style>
        .button {
            background-color: #226852;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
    <div marginwidth="0">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;width:100%;background-color:#e4e4e4;margin:0;padding:0;font-size:12px;font-family:Arial,Helvetica,sans-serif,Arial,Helvetica,sans-serif;">
            <tbody>
                <tr>
                    <td align="center" style="padding:20px 0;margin:0">
                        <table style="border-collapse:collapse;color:#333;font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:12px;line-height:17px;margin:0 auto;padding:0;width:700px">
                            <tbody style="margin:0;padding:0">
                                <tr style="margin:0;padding:0">
                                    <td style="margin:0;padding:20px 0;vertical-align:middle">
                                        <table align="center" style="background:#fff;border-collapse:collapse;margin:0;padding:0;width:100%">
                                            <thead style="margin: 0; padding: 0; background: #226852;">
                                                <tr style="margin:0;padding:0">
                                                    <td style="margin:0;padding:0">
                                                        <table style="border-bottom:3px solid #23487b;border-collapse:collapse;height:59px;margin:0;padding:0;width:100%">
                                                            <tbody>
                                                                <tr style="margin:0;padding:0">
                                                                    <td style="margin:0;padding:0;padding-left:20px;text-align:left;vertical-align:middle">
                                                                        <a href="https://beta.usexpress.vn/" target="_blank" style="color:#333;margin:0;padding:0;text-decoration:none">
                                                                            <img src="https://beta.usexpress.vn/images/graphics/logo.png" width="50" style="margin:0;padding:0;vertical-align:middle;">
                                                                        </a>
                                                                    </td>
                                                                    <td style="margin:0;padding:0;padding-right:20px;text-align:right;vertical-align:middle">
                                                                        <a href="tel:1900633600" style="color:#ff8000;margin:0;padding:0;text-decoration:none; font-size: 13px;"><img style="margin-right: 5px;" width="12" src="http://usexpress.vn/Media/images/email/ico-dt.png" />1900 633 600</a> <span style="color: #ff8000">|</span>
                                                                        <a href="mailto:cskh@usexpress.vn" style="color:#ff8000;margin:0;padding:0;text-decoration:none;font-size: 13px;"><img style="margin-right: 5px;" width="12" src="http://usexpress.vn/Media/images/email/ico-email.png" />cskh@usexpress.vn</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody style="margin:0;padding:0">
                                                <tr style="margin:0;padding:0">
                                                    <td style="margin:0;padding:10px">
                                                        <table style="border-collapse:collapse;margin:0;padding:0;width:100%">
                                                            <tbody style="margin:0;padding:0">
                                                                <tr style="margin:0;padding:0">
                                                                    <td style="margin:0;padding:0">
                                                                        <table style="border-collapse:collapse;margin:0;margin-bottom:20px;margin-top: 20px;padding:0;width:100%; border-bottom: 1px solid #226852;">
                                                                            <tbody>
                                                                                <tr style="margin:0;padding:0">
                                                                                    <td style="margin:0;padding:0">
                                                                                        <p style="font-size:18px;color: #226852;font-weight: 700;text-align: center;text-transform: uppercase;line-height:20px;margin:0 0 20px 0;padding:0">Yêu cầu thay đổi mật khẩu</p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <table style="border-collapse:collapse;margin:0;padding:0;width:100%">
                                                                            <tbody>
                                                                                <tr style="margin:0;padding:0">
                                                                                    <td style="margin:0;padding:0">
                                                                                        <p style="font-size:14px;line-height:20px;margin:0 0 5px 0;padding:0">Xin chào Quý khách.</p>
                                                                                        <p style="font-size:14px;margin:0 0 5px 0;padding:0;line-height:20px">
                                                                                            Tài khoản <span style="margin:0;padding:0"><i><b>${Customer}</b></i></span> của Quý khách vừa được yêu cầu thay đổi mật khẩu trên <b><a href="https://beta.usexpress.vn/">USExpress.vn</a></b>.
                                                                                            <br>
                                                                                        </p>
                                                                                        <p style="font-size:14px;margin:0 0 5px 0;padding:0;line-height:20px">
                                                                                            Thời gian: <b>${date_time}</b>
                                                                                            <br />
                                                                                            Thiết bị: <b>${device_ip}</b>
                                                                                        </p>
                                                                                        <p style="font-size:14px;margin:0 0 5px 0;padding:0;line-height:20px">
                                                                                            Vui lòng nhấn vào nút <b>Xác nhận thay đổi mật khẩu</b>  bên dưới nếu đó là bạn:
                                                                                            <br />
                                                                                            <a class="button" href="${Link_chage}" style="color:white"> <b>Xác nhận thay đổi mật khẩu</b></a>
                                                                                        </p>
                                                                                        <p style="font-size:14px;margin:0 0 5px 0;padding:0;line-height:20px">
                                                                                            Hoặc Copy đường dẫn sau và thực hiện thay đổi trên trình duyệt của bạn:
                                                                                            <br />
                                                                                            <b style="font-size:14px; margin: 20px 0 20px 0;">${Link_chage}</b>
                                                                                        </p>
                                                                                        <br />
                                                                                        <p style="font-size:14px;margin:10px 0 10px 0;padding:0;line-height:20px">
                                                                                            Quý khách vui lòng liên hệ ngay Chăm sóc khách hàng <b>1900 633 600</b> nếu có bất kỳ vấn đề gì cần được hỗ trợ.
                                                                                            <br />
                                                                                            Trân trọng,
                                                                                            <br />
                                                                                            US Express Việt Nam

                                                                                        </p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <p style="display: inline-block;text-align: center;width: 100%; margin: 20px 0;">
                                                                            <span style="color: #fff; text-transform: uppercase; background: #226852; padding: 10px 20px; border-radius: 5px; font-weight: 400;font-size: 14px;">
                                                                                <a href="https://beta.usexpress.vn/lien-he-288" style="color: white;text-decoration: none;font-weight: 700;">Đội ngũ USexpress sẵn sàng hỗ trợ quý khách!</a>
                                                                            </span>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <!-- Footer -->
                                            <tfoot style="margin:0;padding:0">
                                                <tr style="margin:0;padding:0">
                                                    <td style="margin:0;padding:0">
                                                        <table style="border-collapse:collapse;border-top:2px solid #226852;margin:0;padding:0;width:100%">
                                                            <tbody style="margin:0;padding:0">
                                                                <tr style="margin:0;padding:0">
                                                                    <td style="background:#fafafa;margin:0;padding:10px">
                                                                        <table style="border-collapse:collapse;margin:0;margin-bottom:10px;padding:0;width:100%; font-size: 14px;">
                                                                            <tbody>
                                                                                <tr style="margin:0;padding:0">
                                                                                    <td style="margin:0;padding:0;text-align:center">
                                                                                        <a href="https://beta.usexpress.vn/chinh-sach-thanh-toan-285" style="color:#226852;text-transform: uppercase;margin:0;padding:0;font-size: 12px;text-decoration:none; font-weight: 700;" target="_blank">Thanh toán</a>
                                                                                    </td>
                                                                                    <td style="margin:0;padding:0 5px;text-align:center">|</td>
                                                                                    <td style="margin:0;padding:0;text-align:center">
                                                                                        <a href="https://beta.usexpress.vn/chinh-sach-ve-hang-hoa-va-bao-hanh-287" style="text-transform: uppercase;color:#226852;font-size: 12px;margin:0;padding:0;text-decoration:none; font-weight: 700;">
                                                                                            Đặt hàng và giao nhận
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="margin:0;padding:0 5px;text-align:center">|</td>
                                                                                    <td style="margin:0;padding:0;text-align:center">
                                                                                        <a href="https://beta.usexpress.vn/trung-tam-ho-tro-289" style="text-transform: uppercase;color:#226852;font-size: 12px;margin:0;padding:0;text-decoration:none; font-weight: 700;">
                                                                                            Trung tâm hỗ trợ
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="margin:0;padding:0 5px;text-align:center">|</td>
                                                                                    <td style="margin:0;padding:0;text-align:center">
                                                                                        <a href="https://beta.usexpress.vn/trung-tam-ho-tro-289" style="text-transform: uppercase;color:#226852;font-size: 12px;margin:0;padding:0;text-decoration:none; font-weight: 700;">
                                                                                            Chính sách bảo hành
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="margin:0;padding:0 5px;text-align:center">|</td>
                                                                                    <td style="margin:0;padding:0;text-align:center">
                                                                                        <a href="https://beta.usexpress.vn/lien-he-288" style="text-transform: uppercase;color:#226852;font-size: 12px;margin:0;padding:0;text-decoration:none; font-weight: 700;" target="_blank">
                                                                                            Liên hệ
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div style="margin:0;margin-bottom:10px;padding:0;text-align:center; font-size: 14px;">
                                                                            <div style="display: inline-block;margin: 10px 0;">
                                                                                <div><strong>CÔNG TY TNHH US EXPRESS VIỆT NAM</strong></div>
                                                                                <div>Giấy phép kinh doanh số: <a href="#" style="color: #333;text-decoration: none;">0109183030</a></div>
                                                                            </div>
                                                                            <div style="font-size:14px; padding:10px 130px;">US EXPRESS là nền tảng tiên phong tự động hóa cung ứng dịch vụ mua hộ hàng hóa từ các thị trường nước ngoài về Việt Nam.</div>
                                                                        </div>
                                                                        <table style="border-collapse:collapse;margin:0;margin-bottom:10px;padding:0;width:100%">
                                                                            <tbody>
                                                                                <tr style="margin:0;padding:0">
                                                                                    <td style="margin:0;padding:0;padding-right:10px;padding-left: 30px;vertical-align:top;width:50%;">
                                                                                        <div style="font-size:14px;font-weight:700;line-height:18px;margin:0;margin-bottom:2px;padding:0">VIETNAM HEAD OFFICE</div>
                                                                                        <div style="font-size: 12px; line-height: 15px; text-decoration: none;"><b>Hà Nội:</b> Tầng 9, Toà nhà Diamond Flower, số 48 Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội</div>
                                                                                        <div style="font-size: 12px; line-height: 15px; text-decoration: none;"><b>Tp.HCM:</b> 49M, Đường 9M, P.Tân Thuận Tây, Q.7, TP.HCM</div>

                                                                                    </td>
                                                                                    <td style="margin:0;padding:0;padding-left:10px;vertical-align:top;padding-right:30px;width:50%">
                                                                                        <div style="font-size:14px;font-weight:700;line-height:18px;margin:0;margin-bottom:2px;padding:0;">US OFFICE AND WAREHOUSE</div>
                                                                                        <div style="font-size:12px;text-decoration:none;">1749 NE Sandy Blvd, Portland, OR 97230</div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>