

<div class="sidebar1">
    <header>
        <div class="avatar">

            <img src="/images/graphics/thumb_1x1.png">
        </div>
        <div class="info">
            <span>Xin chào bạn</span>
            <h4>@this.ViewData["client_name"]</h4>
        </div>
    </header>
    <ul class="lever1">
        <li class="thong-tin-tai-khoan">
            <a href="/thong-tin-tai-khoan" title="Thông tin tài khoản">
                <svg class="icon-us">
                    <use xlink:href="/images/icons/icon.svg#user"></use>
                </svg>Thông tin tài khoản
            </a>
        </li>
        <li class="quan-ly-don-hang">
            <a href="/quan-ly-don-hang" title="Quản lý đơn hàng">
                <svg class="icon-us">
                    <use xlink:href="/images/icons/icon.svg#thutuc"></use>
                </svg>Quản lý đơn hàng
            </a>
        </li>
        @*<li>
                <a href="/thong-bao-cua-toi" title="Thông báo của tôi">
                    <svg class="icon-us">
                        <use xlink:href="/images/icons/icon.svg#notifi1"></use>
                    </svg>Thông báo của tôi
                </a>
            </li>*@
        <li class="so-dia-chi">
            <a href="/so-dia-chi" title="Số địa chỉ">
                <svg class="icon-us">
                    <use xlink:href="/images/icons/icon.svg#address2"></use>
                </svg>Sổ địa chỉ
            </a>
        </li>
        @*<li>
                <a href="/san-pham-yeu-thich" title="Sản phẩm yêu thích">
                    <svg class="icon-us">
                        <use xlink:href="/images/icons/icon.svg#heart2"></use>
                    </svg>Sản phẩm yêu thích
                </a>
            </li>*@
        @*<li>
                <a href="/" title=""><img class="icon-us" src="/images/icons/u-xu.svg">Quản lý U-Xu của tôi</a>
            </li>*@
        <li>

            <a href="tao-link-gioi-thieu" title="Tài khoản Affiliate của tôi">
                <img class="icon-us" src="/images/icons/affiliate.svg">Tài khoản Affiliate của tôi
            </a>

            <ul class="lever2">
                <li class="tao-link-gioi-thieu">
                    <a href="/tao-link-gioi-thieu" title="Tạo link giới thiệu">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#link2"></use>
                        </svg>Tạo link giới thiệu
                    </a>
                </li>
                <li class="quan-ly-don-hang-affiliate">
                    <a href="/quan-ly-don-hang-affiliate" title="Quản lý đơn hàng Affiliate">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#thutuc"></use>
                        </svg>Quản lý đơn hàng Affiliate
                    </a>
                </li>
                <li class="thong-tin-thanh-toan">
                    <a href="/thong-tin-thanh-toan" title="Thông tin thanh toán">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#atm-card"></use>
                        </svg>Thông tin thanh toán
                    </a>
                </li>
                <li>
                    <a href="/" title="">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#buy"></use>
                        </svg>Đối soát hoa hồng
                    </a>
                </li>
                <li>
                    <a href="/" title="">
                        <svg class="icon-us">
                            <use xlink:href="/images/icons/icon.svg#notifi3"></use>
                        </svg>Giới thiệu về US Affiliate
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>