<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="is_headless" value="0" />
		<add key="QUEUE_HOST" value="103.74.121.156" />
		<add key="QUEUE_V_HOST" value="vhost_qc" />
		<add key="QUEUE_USERNAME" value="qcenv" />
		<add key="QUEUE_PASSWORD" value="qc123456" />
		<add key="QUEUE_PORT" value="15672" />
		<add key="QUEUE_KEY_API" value="AAFKCM7CoaBerVhcYCHQba1AyY13X41rT5s" />
		<add key="EncryptApi" value="5fDmJ8Ze" />
		
		<add key="domain_us_old" value="http://usexpress.vn/" />
		<add key="domain_us_api_new" value="http://103.74.121.155:4455/" />
		
	</appSettings>

	
</configuration>
