<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="is_headless" value="0" />
		<add key="QUEUE_HOST" value="103.163.216.41" />
		<add key="QUEUE_V_HOST" value="Adavigo" />
		<add key="QUEUE_USERNAME" value="adavigo_admin" />
		<add key="QUEUE_PASSWORD" value="123456789" />
		<add key="QUEUE_PORT" value="5672" />

		<add key="QUEUE_KEY_API" value="AAFKCM7CoaBerVhcYCHQba1AyY13X41rT5s" />
		<add key="REDIS_CONNECTION" value="103.163.216.41:36699" />
		<add key="API_USEXPRESS" value="http://api-dropshipping.x-tech.vn" />
		<add key="DOMAIN_WEBSITE_CRAWLER" value="https://www.amazon.com/" />
		<add key="KEY_CONNECT_API_USEXPRESS" value="1372498309AAH0fVJfnZQFg5Qaqro47y1o5mIIcwVkR3k" />
		<add key="regionAmazon" value="97266" />
		<add key="delay_start" value="1" />
		<add key="computer_index" value="bot_crawl_dropshipping" />
		<add key="elastic_config" value="http://103.163.216.42:9200/" />
		<add key="BOT_TYPE" value="2" />
		<!--1: NHiệm vụ crawl chi tiết sản phẩm  |  2: Nhiệm vụ crawl chi tiết sản phẩm và push len ES |  3: push sản phẩm manual lên ES -->
	</appSettings>

</configuration>