<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="Mua hộ hàng mỹ, Mua hàng mỹ, Dịch vụ mua hộ">
    <meta name="keywords" content="Mua hộ hàng mỹ, Mua hàng mỹ, Dịch vụ mua hộ">
    <title>
        Landing page
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/~/landing_page/prime_day_2020/css/images/infinite_arrow_favicon_5.ico"
          rel="shortcut icon" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="~/landing_page/prime_day_2020/css/style-old.css" rel="stylesheet" />
    <script type="text/javascript" src="~/landing_page/prime_day_2020/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/landing_page/prime_day_2020/js/swiper.min.js"></script>
    <!-- build:head2 -->
</head>

<body>

    <section class="banner-home clearfix mb30">
        <img class="banner-pc" src="~/landing_page/voucher/prime_day_home.png" />
        <img class="banner-mobile" src="~/landing_page/voucher/prime_day_home.png" />        
    </section>
   
    <!-- MAIN CONTAINER -->
    <section class="section section_s1 clearfix mb60">
        <div class="container">
            <div class="warp">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <img src="~/landing_page/prime_day_2020/css/images/icons/hang-hoa.png">
                        <p>Hàng hóa được</br> đảm bảo</p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <img src="~/landing_page/prime_day_2020/css/images/icons/trunk.png">
                        <p>
                            Giao hàng từ 10 - 15</br>
                            ngày làm việc
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <img src="~/landing_page/prime_day_2020/css/images/icons/tiet-kiem.png">
                        <p>
                            Mua càng nhiều,</br>
                            tiết kiệm càng nhiều
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @RenderBody()

    <!-- END MAIN CONTAINER -->
    <!--FOOTER-->
    <footer id="footer" class="clearfix">
        <div class="footer-top">
            <div class="container">
                <div class="newsletter">
                    <img src="~/landing_page/prime_day_2020/css/images/graphics/newsletter.svg">
                    <strong>Đăng ký nhận Bản tin Giảm giá</strong>
                    <p>Để không bỏ lỡ những đợt Sale hấp dẫn từ Mỹ</p>
                </div>
                <form action="">
                    <input type="text" class="input_search" name="" value="" placeholder="Nhập email của bạn">
                    <button type="submit" class="">Đăng ký</button>
                </form>
                <a class="messenger" href="#"><img src="~/landing_page/prime_day_2020/css/images/icons/chat.png"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="td">
                        <h3>Hỗ trợ khách hàng</h3>
                        <div class="hotline">
                            <p class="color_green2"><strong>Hotline CSKH: 1900 633 600</strong></p>
                            <p>(Từ 8h30-17h30 Thứ 2 đến Thứ 6)</p>
                        </div>
                        <ul>
                            <li><a href="">Câu hỏi thường gặp</a></li>
                            <li><a href="">Hướng dẫn đặt hàng</a></li>
                            <li><a href="">Trung tâm trợ giúp</a></li>
                        </ul>
                    </div>
                    <div class="td">
                        <h3>Hiểu thêm về US</h3>
                        <ul>
                            <li><a href="">Về US Express</a></li>
                            <li><a href="">Báo chí nói về US Express</a></li>
                            <li><a href="">Gia nhập US Express</a></li>
                        </ul>
                    </div>
                    <div class="td">
                        <h3>Chăm sóc khách hàng</h3>
                        <ul>
                            <li><a href="">Chính sách bảo mật</a></li>
                            <li><a href="">Chính sách giao dịch</a></li>
                            <li><a href="">Chính sách thanh toán</a></li>
                            <li><a href="">Chính sách bảo hành và đổi trả</a></li>
                            <li><a href="">Chính sách giải quyết khiếu nại</a></li>
                            <li><a href="">Điều khoản mua bán US Express</a></li>
                        </ul>
                    </div>
                    <div class="td">
                        <h3>Order cùng US</h3>
                        <ul>
                            <li><a href="">10 thương hiệu được ưu chuộng...</a></li>
                            <li><a href="">Chọn hàng Prime thế nào cho đúng</a></li>
                            <li><a href="">Phân biệt Adidas thật giả</a></li>
                            <li><a href="">Phân biệt Adidas thật giả</a></li>
                            <li><a href="">Phân biệt Adidas thật giả</a></li>
                            <li><a href="">Phân biệt Adidas thật giả</a></li>
                        </ul>
                    </div>
                    <div class="td">
                        <h3>Hình thức thanh toán</h3>
                        <div class="visa">
                            <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/visa.png"></a>
                            <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/visa2.png"></a>
                            <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/visa3.png"></a>
                            <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/visa4.png"></a>
                            <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/visa5.png"></a>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <div class="left">
                        <h3>địa chỉ Văn phòng US Express</h3>
                        <p>
                            <strong>Trung tâm kho vận tại Mỹ:</strong> 1749 NE Sandy Blvd, Portland, OR 97230
                        </p>
                        <p>
                            <strong>Văn phòng tại Hà Nội:</strong> Tầng 9, Toà nhà Diamond Flower, Số 48 Lê Văn Lương, P.Nhân Chính, Q.Thanh Xuân, Hà Nội
                        </p>
                        <p>
                            <strong>Văn phòng tại Tp.HCM:</strong> 49M, Đường 9M, P.Tân Thuận Tây, Q 7, TP.HCM
                        </p>
                    </div>
                    <div class="right social">
                        <a href=""><img src="~/landing_page/prime_day_2020/css/images/icons/facebook.svg"></a>
                        <a href=""><img src="~/landing_page/prime_day_2020/css/images/icons/youtube.svg"></a>
                        <a href=""><img src="~/landing_page/prime_day_2020/css/images/icons/camera.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container flex">
                <div class="text">
                    <p>© 2019 - Bản quyền của Công ty Cổ Phần US Express - usexpress.vn</p>
                    <p>Giấy chứng nhận Đăng ký Kinh doanh số 3002090565, cấp ngày 23/11/2017</p>
                </div>
                <div class="social">
                    <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/bocongthuong.png"></a>
                    <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/shield.svg"></a>
                    <a href=""><img src="~/landing_page/prime_day_2020/css/images/graphics/dss.png"></a>
                </div>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
    </a>
    <!--Jquery lib-->
    <!-- build:script -->
    <!-- build:script2 -->
    <script>
        var swiper = new Swiper('.list-product .swiper-container', {
            slidesPerView: 4,
            slidesPerColumn: 2,
            spaceBetween: 20,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    slidesPerColumn: 1,
                    spaceBetween: 20,
                },
                991: {
                    slidesPerView: 2,
                    slidesPerColumn: 1,
                },
                1200: {
                    slidesPerView: 3,
                },
            }
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('#to_top').fadeIn();
            } else {
                $('#to_top').fadeOut();
            }
        });

        $("#to_top").click(function () {
            $("html, body").animate({
                scrollTop: 0
            });
            return false;
        });
    </script>
</body>

</html>