@{
    ViewData["Title"] = "Đăng ký Affiliate";
    Layout = null;
}

<div class="affiliate_s1 center">
    <h3>Bạn chưa đăng ký affiliate</h3>
    <p>Vui lòng bấm nút "Đăng ký sử dụng Affiliate" bên dưới để có thể tham gia chương trình Bán hàng cùng US Express và có thể sử dụng đầy đủ tính năng Affiliate</p>
    <div id="btn_register_aff" class="btn pointer-event">Đăng ký sử dụng Affiliate</div>
</div>





